SERVER_HOST=your-domain.com
MODE=1
XRAY_PORT=8443
VLESS_UUID=00000000-0000-0000-0000-000000000000
VLESS_TAG=home-xray
REALITY_SNI=www.dropbox.com
REALITY_DEST=www.dropbox.com:443
REALITY_FINGERPRINT=chrome
REALITY_PRIVATE_KEY=
REALITY_PUBLIC_KEY=
REALITY_SHORT_ID=
XHTTP_PATH=/xhttp
GRPC_SERVICE_NAME=home-xray
LOGLEVEL=info

TELEGRAM_CHAT_ADMIN=-1001234567890
TELEGRAM_BOT_TOKEN=1234567890:replace-with-token
GAMMA_PROJECT_DIR_HOST=/gamma
REALITY_ALERT_COOLDOWN_SECONDS=300
REALITY_ALERT_STARTUP_TEST_ENABLED=1
